@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

:root{
    --background: #F7F8F7;
    --primary: #7A7176;
    --text: #0A0B0A;
    --secondary: #DDDADA;
    --accent: #7A717A;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'source sans 3', 'sans serif';
   
}

body{
    background-color: var(--background);
}

.App{
    height: 100dvh;
    width: 100dvw;
    padding: 2.5% 10%;
    background-color: var(--background);
}

nav{
    width: 100%;
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--accent);
}

nav h1{
    color: var(--primary);
    font-weight: bolder;
    font-family: "poppins";
}


nav{
    font-family: 'popins', 'sans serif';
}

.nav-content{
    display: flex;
    gap: 1rem;
    align-items: center;
}

nav a, nav span, nav button{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    background-color: var(--background);
    border: none;
}

nav a:hover{
    opacity: .5;
}

nav button:hover{
    opacity: .5;
}

.content{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;

}

.home{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
    align-items: center;
}

/* Auth forms */

.login-form, .signup-form{
    /* max-width: 400px; */
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
    border-radius: 2rem;
    align-items: center;
}

.login-form h3, .signup-form h3{
    text-align: center;
    font-family: 'poppins';

}



.login-form div, .signup-form div{
    width: 100%;
}

.error{
    color: red;
    font-weight: bolder;
    text-align: center;
}

.login-form input, .signup-form input{
    border-color: var(--accent);
    border:none;
    border-bottom: 2px solid var(--primary);
    background-color: var(--background);
    outline: none;
    font-weight: bolder;
}

.ledger{
    box-shadow: 5px 5px 10px var(--accent);
    padding: 1.5rem;
    background-color: var(--background);
    border-radius: 2rem;
}

.ledger-row{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary);
    padding: .5rem 2rem;
}

.total-row{
    border: none;
}

.object{
    width: 5rem;
}

.input-form{
    box-shadow: 5px 5px 10px var(--accent);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
    max-height: 450px;
    border-radius: 2rem;

}

.input-form input, select{
    border-color: var(--accent);
    border:none;
    border-bottom: 2px solid var(--primary);
    background-color: var(--background);
    outline: none;
    font-weight: bolder;
}

textarea{
    background-color: var(--background);
    border: 2px solid var(--primary);
    outline: none;
    font-weight: bolder;
}

.form-row{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.btn{
    width: 100%;
    max-width: 5rem;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    color: white;
    border-radius: 2rem;
    padding: .3rem;
}

.add-btn{
    display: none;
}

.btn:hover{
    color: var(--primary);
    background-color: white;

}



/* Modal */

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    width: 80%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: var(--background);
    padding: 3rem;
    border-radius: 3px;
    max-width: 600px;
    /* min-width: 300px; */
}

.modal-content-row{
    display: flex;
    gap: .5rem;

}

.close-modal {
    position: absolute;
    top: 5%;
    right: 5%;
}

.close-modal:hover{
    opacity: .5;
}

.modal-btn{
    background-color: var(--background);
    border: none;
    color: var(--primary);
    font-size: 1.5rem;

}

.modal-btn:hover{
    opacity: .5;
}

footer{
    margin: 2rem;
    text-align: center;
    background-color: var(--background);
}

footer p, footer a{
    background-color: var(--background);   
    color: var(--text);
    font-weight: bolder;
    text-decoration: none;
}

@media only screen and (max-width: 1300px) {
    .content{
       display: flex;
       flex-direction: column-reverse;
       align-items: center;
    }

    .home{
        display: flex;
        flex-direction: column-reverse;
    }

    .ledger{
        width: 100%;
    }

    .input-form{
        width: 70%;
        max-width: 350px;
        display: none;
    }

    .add-btn{
        display: block;
    }
}

@media only screen and (max-width: 480px){
    .App{
        padding: 2.5% 2.5%;
    }
    .ledger{
        box-shadow: none;
        
    }

    .ledger-row{
        border: none;
        flex-direction: column-reverse;
        align-items: center;
        border-bottom: 2px solid var(--primary);
        gap: .25rem;
    }

    .total-row{
        flex-direction: row;
    }

    .input-form{
        box-shadow: none;
    }
}